<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings />
  <connectionStrings />
  <system.web>

    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/LOGIN.aspx" defaultUrl="INDEX.aspx" protection="Validation" timeout="2400"/>
    </authentication>
    <sessionState mode="InProc" timeout="2400"/>

    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows">
      <forms loginUrl="login.aspx">
      </forms>
    </authentication>-->
    <authorization>
      <allow users="*" />
    </authorization>

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
 
 
    
        <customErrors mode="On" defaultRedirect="ERR00100.aspx">
            <error statusCode="403" redirect="ERR00100.aspx"/>
            <error statusCode="404" redirect="ERR00404.aspx"/>
        </customErrors>
     -->


    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!--<sessionState cookieless="UseUri" useHostingIdentity="false" />-->
  </system.web>
</configuration>

